.send-button {
    background-color: #198754;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.input-text {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
}

.chat-input-container {
    display: flex;  
    margin-bottom: 60px;   
    margin-top: 5px;          
}

.app-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    height: 100vh;        
}

.user-sender {            
    justify-content: end;         
}

.user-sender, .robot-sender {
    display: flex;
    align-items: start;
    overflow-wrap: break-word;
    margin: 10px 0;
}

.sender-image {
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;        
}

.sender-message {
    font-size: 15px;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 15px 20px;
    max-width: 350px;
}

.chat-messages-container {
    flex-grow: 1;     
    overflow: scroll;    
    scrollbar-width: none;  
    background-color: #f7f4f4ff; 
    border-radius: 10px;
    padding: 10px 0;
}